<!DOCTYPE html>
<html>
<head>
    <title>Vodes</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #ffffff; text-align: center;">
    <div style="margin: 50px auto; background-color: #ffffff; padding: 20px; border-radius: 10px; width: 400px;">
        <p style="margin-bottom: 20px;">Halo, {{name}}</p>
        <p style="margin-bottom: 20px;">Scan atau salin kode QR untuk melihat file {{nama_file}}</p>
        <img src="cid:image" alt="QR Code" style="display: block; margin: 0 auto; width: 200px; height: auto; border-radius: 10px; margin-bottom: 20px;">
        <p style="margin-bottom: 20px; background-color: #0086bbb9; padding: 20px; border-radius: 10px; color:#fff;"">{{token}}</p>
    </div>
    <footer style="font-size: 12px; color: #1500fc;">
        <p></p>
        &copy; EnData 2023.
    </footer>
</body>
</html>